- title "search"
- content_for(:header) do
  %h2 search
  %h5 find your soulmate splits
  = render partial: 'shared/alerts'
%article
  .row
    .col-md-6
      %form#search.form-search{action: search_path, method: :get}
        .input-group
          - placeholder = Game.where.not(shortname: nil).offset(rand(Game.where.not(shortname: nil).count)).first
          %input.form-control{type: :text, name: :q, autofocus: true, placeholder: "e.g. #{placeholder.name}, or #{placeholder.shortname}", value: @query}
          %span.input-group-btn
            %button.btn.btn-default{type: :submit} search
- if @query || @result
  %article
    %h4 Users
    - if @result[:users].present?
      %table.table.table-striped
        %tbody
          - @result[:users].find_each do |user|
            %tr
              %td
                = link_to user, user_path(user), class: 'user-link'
    - else
      %i (none found)
  %article
    %h4 Games
    - if @result[:games].present?
      %table.table.table-striped
        %tbody
          - @result[:games].each do |game|
            %tr
              %td
                = link_to game, game_path(game), class: 'game-link'
                %small.pull-right
                  Categories:
                  = game.categories.pluck(:name).join(', ')
    - else
      %i (none found)
  %article
    %h4 Runs
    = render partial: 'shared/run_table', locals: {runs: @result[:runs]}
