- title "search"
.container
  %h2= content_for(:title)
  %h5 find your soulmate splits
  = render partial: 'shared/alerts'
  %form.form-inline{action: search_path, method: :get}
    .form-group
      %input{type: :text, name: 'q', autofocus: true, placeholder: 'search...', value: @query}
    .form-group
      %input{type: :submit, value: 'search'}
  - if @query || @result
    %h4 Users
    - if @result[:users].present?
      %table
        %tbody
          - @result[:users].find_each do |user|
            %tr
              %td
                %a{href: user_path(user)}= user.name
    - else
      %i (none found)
    %h4 Games
    - if @result[:games].present?
      %table
        %tbody
          - @result[:games].each do |game|
            %tr
              %td
                %a{href: game_path(game)}= game.name
                %small.pull-right
                  Categories:
                  = game.categories.pluck(:name).join(', ')
    - else
      %i (none found)
    - if @result[:games].length == 1
      %h4 Runs
      = render partial: 'shared/run_table', locals: {runs: @result[:runs]}
