- title "search"
.container
  %h2= content_for(:title)
  %h5 find your soulmate splits
  %form.form-inline{action: search_path, method: :get}
    .form-group
      %input{type: :text, name: 'q', autofocus: true, placeholder: 'search...', value: @term}
    .form-group
      %input{type: :submit, value: 'search'}
  - if @term.present?
    - if [@result[:users], @result[:games], @result[:runs]].all?(&:empty?)
      No dice! No users, games, or runs were found matching the term "#{@term}".
    - else
      %h4 Users
      - if @result[:users].present?
        %table
          %tbody
            - @result[:users].each do |user|
              %tr
                %td
                  %a{href: user_path(user)}= user.name
      - else
        %i (none found)
      %h4 Games
      - if @result[:games].present?
        %table
          %tbody
            - @result[:games].each do |game|
              %tr
                %td
                  %a{href: search_path(game.name)}= game.name
      - else
        %i (none found)
      %h4 Runs
      - if @result[:runs].present?
        = render partial: 'shared/run_table', locals: {runs: @result[:runs]}
      - else
        %i (none found)
