= stylesheet_link_tag(:pagination)
.container
  %h2 search
  %h5 find your soulmate splits
  %form.form-inline{action: search_path, method: :get}
    .form-group
      %input{type: :text, name: 'q', autofocus: true, placeholder: 'search...', value: @term}
    .form-group
      %input{type: :submit, value: 'search'}
  - if @term.present?
    - if @result[:games].empty? && @result[:runs].empty?
      No dice! No games or runs were found matching the term "#{@term}".
    - else
      %h4 Games
      - if @result[:games].present?
        %table
          %tbody
            - @result[:games].each do |game|
              %tr
                %td
                  %a{href: search_path(URI.escape(game.name))}= game.name
      - else
        Sorry! No games were found matching "#{@term}".
      %h4 Runs
      - if @result[:runs].present?
        %table
          %thead
            %tr
              %th Runner
              %th Time
              %th Name
              %th Uploaded
          %tbody
            - @result[:runs].each do |run|
              %tr
                %td.align-right= run.user.try(:name) || '-'
                %td.align-right= render partial: 'shared/time', locals: {run: run, time: run.time}
                %td
                  %a{href: run_path(run.nick)}= run.name
                %td.align-right= "#{run.time_since_upload} ago"
        .center= will_paginate @result[:runs]
      - else
        Woops! No runs were found matching the term "#{@term}"!
