.container
  %h2 search
  %h5 find your soulmate splits
  %form.form-inline{action: search_path, method: :get}
    .form-group
      %input{type: :text, name: 'q', autofocus: true, placeholder: 'search...', value: @term}
    .form-group
      %input{type: :submit, value: 'search'}
  - if @term.present?
    - if @result[:games].empty? && @result[:runs].empty?
      No dice! No games or runs were found matching the term "#{@term}".
    - else
      %h4 Games
      - if @result[:games].present?
        %table
          %tbody
            - @result[:games].each do |game|
              %tr
                %td
                  %a{href: search_path(game.name)}= game.name
      - else
        Sorry! No games were found matching "#{@term}".
      %h4 Runs
      - if @result[:runs].present?
        = render partial: 'shared/run_table', locals: {runs: @result[:runs], columns: [:runner, :time, :name, :uploaded]}
      - else
        Woops! No runs were found matching the term "#{@term}"!
