- title "search"
.container
  %h2= content_for(:title)
  %h5 find your soulmate splits
  = render partial: 'shared/alerts'
  %form.form-inline{action: search_path, method: :get}
    .form-group
      %input{type: :text, name: 'q', autofocus: true, placeholder: 'search...', value: @query}
    .form-group
      %input{type: :submit, value: 'search'}
  - if @query || @result
    - if [@result[:users], @result[:games], @result[:runs]].all?(&:blank?)
      No dice! No users or games were found matching the term "#{@query}" (sorry, category searches returning soon!).
    - else
      %h4 Users
      - if @result[:users].present?
        %table
          %tbody
            - @result[:users].each do |user|
              %tr
                %td
                  %a{href: user_path(user)}= user.name
      - else
        %i (none found)
      %h4 Games
      - if @result[:games].present?
        %table
          %tbody
            - @result[:games].each do |game|
              %tr
                %td
                  %a{href: game_path(game)}= game.name
                  %small.pull-right
                    Categories:
                    = game.categories.pluck(:name).join(', ')
      - else
        %i (none found)
      %h4 Runs
      - if @result[:runs].present?
        = render partial: 'shared/run_table', locals: {runs: @result[:runs]}
      - else
        - if @result[:games].length > 1
          %p
            Due to search being overloaded, runs temporarily aren't being returned for search queries that match > 1
            game.  Please refine your search by clicking one of the above games.
          %p
            If you can't do this because your search string always matches > 1 game (e.g. "Super Mario Galaxy"), please
            %a{href: 'mailto:qhiiyr@gmail.com'} email me
            \-- I'm in the process of setting up game shortnames to solve this whole search issue, and I can set one up
            for your game in a jiffy until I build a more automated process.
        - else
          %i (none found)
