- description ||= nil
- cols ||= [:runner, :time, :name, :uploaded]
- runs = order_runs(runs).page(params[:page])
- cache [type, source, page, order] do
  - if runs.empty?
    %center
      %i No runs matched!
  - else
    %table.table.table-striped
      - if description.present?
        .badge= description
      %thead
        %tr
          - if cols.include?(:owner_controls)
            %th.align-right
          - if cols.include?(:runner)
            %th.align-right
              %a{href: "?#{request.query_parameters.merge(by: :user_id, order: (params[:by] == 'user_id' && params[:order] == 'asc') ? :desc : :asc).to_param}"} Runner
          - if cols.include?(:time)
            %th.align-right
              %a{href: "?#{request.query_parameters.merge(by: :time, order: (params[:by] == 'time' && params[:order] == 'asc') ? :desc : :asc).to_param}"} Time
          - if cols.include?(:name)
            %th Name
          - if cols.include?(:uploaded)
            %th.align-right
              %a{href: "?#{request.query_parameters.merge(by: :created_at, order: (params[:by] == 'created_at' && params[:order] == 'desc') ? :asc : :desc).to_param}"} Uploaded
      %tbody
        - runs.each do |run|
          %tr{id: [:run, run.id]}
            - if cols.include?(:owner_controls)
              %td.align-right
                .dropdown
                  .dropdown-toggle{id: [:dropdown, run.id], style: "cursor: pointer; color: #a33;", data: {toggle: :dropdown}} x
                  %ul.dropdown-menu{role: :menu, aria: {labelledby: "dropdown_#{run.id}"}}
                    %li{role: :presentation}
                      = link_to 'Disown', '#', onclick: "window.disown_run({id: #{run.id}});", class: 'red dropdown-header'
                      = link_to 'Delete', '#', onclick: "window.delete_run({id: #{run.id}});", class: 'red dropdown-header'
            - if cols.include?(:runner)
              %td.align-right
                - if run.user && run.user.name
                  = link_to run.user, user_path(run.user), class: 'user-link'
                - else
                  = "-"
            - if cols.include?(:time)
              %td.align-right= render partial: 'shared/time', locals: {time: run.time, show_milliseconds: false}
            - if cols.include?(:name)
              %td= link_to run.name, run_path(run), class: 'run-link'
            - if cols.include?(:uploaded)
              %td.align-right{title: run.created_at}= "#{run.time_since_upload} ago"
    .center= will_paginate(runs)
