- cols ||= {}
- cols[:with] ||= []
- cols[:without] ||= []
- cols = [:runner, :time, :name, :uploaded] + cols[:with] - cols[:without]
- runs = order_runs(runs).without(:file).page(params[:page])
- if runs.empty?
  %center
    %i Woops! No runs here, #{['boss', 'friend', 'pal', 'buddy', 'speedfriend', 'friend', 'unfortunately'].sample}!
- else
  %table.table.table-striped
    %thead
      %tr
        - if cols.include?(:owner_controls)
          %th.align-right
        - if cols.include?(:runner)
          %th.align-right
            %a{href: "?#{{by: :user_id, order: (params[:by] == 'user_id' && params[:order] == 'asc') ? :desc : :asc}.to_param}"} Runner
        - if cols.include?(:time)
          %th.align-right
            %a{href: "?#{{by: :time, order: (params[:by] == 'time' && params[:order] == 'asc') ? :desc : :asc}.to_param}"} Time
        - if cols.include?(:name)
          %th Name
        - if cols.include?(:uploaded)
          %th.align-right
            %a{href: "?#{{by: :created_at, order: (params[:by] == 'created_at' && params[:order] == 'desc') ? :asc : :desc}.to_param}"} Uploaded
    %tbody
      - runs.each do |run|
        %tr{id: [:run, run.id]}
          - if cols.include?(:owner_controls)
            %td.align-right
              .dropdown
                .dropdown-toggle{id: [:dropdown, run.id], style: "cursor: pointer; color: #a33;", data: {toggle: :dropdown}} x
                %ul.dropdown-menu{role: :menu, aria: {labelledby: "dropdown_#{run.id}"}}
                  %li{role: :presentation}
                    %a.red.dropdown-header{role: :menuitem, tabindex: -1, href: "#", onclick: "window.disown_run({id: #{run.id}});"} Disown
                    %a.red.dropdown-header{role: :menuitem, tabindex: -1, href: "#", onclick: "window.delete_run({id: #{run.id}});"} Delete
          - if cols.include?(:runner)
            %td.align-right
              - if run.user && run.user.name
                %a{href: user_path(run.user)}= run.user.try(:name)
              - else
                = "-"
          - if cols.include?(:time)
            %td.align-right= render partial: 'shared/time', locals: {time: run.time, show_milliseconds: false}
          - if cols.include?(:name)
            %td
              %a{href: run_path(run)}= run.name
          - if cols.include?(:uploaded)
            %td.align-right{title: run.created_at}= "#{run.time_since_upload} ago"
  .center= will_paginate(runs)
