.header{style: 'border: none;'}
  - if @run_record.hits < 2
    #permalink-indicator
      &uarr; That's your permalink!
  %h2 #{@run.title}
- colors = [:blue, :purple, :green, :red, :orange, :yellow]
- c = 0
- percentage = 0
#time{style: 'opacity: 0;'}
  &nbsp;
  = Time.at(@run.time).utc.strftime("%k:%M:%S")
  - if @run.time < 20*60
    %small>= Time.at(@run.time).utc.strftime(".%2N")
  &nbsp;
- i = 1
.timeline.l-vbox.pure-g{style: "margin-bottom: 1em;"}
  - @run.splits.each do |split|
    - percentage += split.time/@run.time*100
  - @run.splits.each do |split|
    .pure-u.split{id: 'split-' + i.to_s, class: "size-chart-" + colors[c].to_s, style: "width: #{split.time/@run.time*100 + (100 - percentage)/@run.splits.length}%;"}
      .title= split.title
      .time
        = Time.at(split.time).utc.strftime("%k:%M:%S")
        - if @run.time < 20*60
          %small>= Time.at(split.time).utc.strftime(".%2N")
    - i += 1
    - c = (c + 1) % colors.length
- i = 1
- percentage_so_far = 0
.timeline.l-vbox.pure-g{style: "margin-bottom: 1em;"}
  - @run.splits.each do |split|
    .pure-u.inspect{id: 'inspect-' + i.to_s, style: "width: #{split.time/@run.time*100 + (100 - percentage)/@run.splits.length}%; opacity: 0;"}
      .bar
        %p
      .title= split.title
      .time
        = Time.at(split.time).utc.strftime("%k:%M:%S")
        - if @run.time < 20*60
          %small>= Time.at(split.time).utc.strftime(".%2N")
    - i += 1
    - percentage_so_far += split.time/@run.time + (1 - percentage/100)/@run.splits.length
.content
  %table.pure-table{style: "margin: auto;"}
    %thead
      %tr
        %th #
        %th Title
        %th Duration
        %th Finished at
    %tbody
      - i = 0
      - @run.splits.each do |split|
        %tr
          %td.align-right
            = i +=1
          %td
            = split.title
          %td.align-right
            = Time.at(split.time).utc.strftime("%k:%M:%S")
            - if @run.time < 20*60
              %small>= Time.at(split.time).utc.strftime(".%2N")
          %td.align-right
            = Time.at(split.finish_time).utc.strftime("%k:%M:%S")
            - if @run.time < 20*60
              %small>= Time.at(split.finish_time).utc.strftime(".%2N")
- if @run_record.hits < 2
  :javascript
    window.onload = function() {$('#permalink-indicator').fadeIn().delay(4000).fadeOut(); }
