- title @run.name
= render partial: 'twitter_card'

- if flash[:notice].present?
  #permalink-indicator= flash[:notice]
  :coffee
    window.onload = -> $('#permalink-indicator').fadeIn().delay(4000).fadeOut({ complete: -> $(this).remove()});
.container
  %h2= yield(:title)
  %h5= render partial: 'shared/time', locals: {time: @run.time, show_milliseconds: @run.short?}
  - if @run.user.present?
    %h6
      %a.twitch{href: "http://twitch.tv/#{@run.user.name}", target: :_blank}= "twitch.tv/#{@run.user.name}"
  %h6
    - if flash[:alert].present?
      .alert-warning
        .glyphicon.glyphicon-warning-sign
        = flash[:alert]
  %h6
    %span#download-menu
      %a{href: download_path(@run, @run.program), onclick: 'hide_download_menu()'}= @run.program
      - ([:wsplit, :timesplittracker, :splitterz, :livesplit] - [@run.program]).each do |program|
        &bull;
        %a{href: download_path(@run, program), onclick: 'hide_download_menu()'}= program
    .glyphicon.glyphicon-download-alt
    %a.fake-link#download-link{onclick: 'toggle_download_menu()'} download
  - if @random.present?
    %h6
      %a{href: random_path} Another random?

= render partial: 'shared/timeline', locals: {run: @run}
= render partial: 'shared/timeline_inspector', locals: {run: @run}

= render partial: 'shared/split_table', locals: {splits: @run.splits, comparison_splits: @run.splits}
