= render partial: 'twitter_card'

.header{style: 'border: none;'}
  - if @run.is_new
    #permalink-indicator
      &uarr; That's your permalink!
    :coffee
      window.onload = -> $('#permalink-indicator').fadeIn().delay(4000).fadeOut({ complete: -> $(this).remove()});
= render partial: 'shared/alerts'
.container
  %h2
    #{@run.name}
  %h5= render partial: 'shared/time', locals: {run: @run, time: @run.time}
  - if @run.user.present?
    %h6
      %a.twitch{href: "http://twitch.tv/#{@run.user.name}", target: :_blank}= "twitch.tv/#{@run.user.name}"
  - if @random.present?
    %h6
      %a{href: random_path}
        Another random?
- colors = [:blue, :purple, :green, :red, :orange, :yellow]
.timeline.l-vbox.pure-g{style: "margin-bottom: 1em;"}
  - @run.splits.each_with_index do |split, index|
    - unless split.duration == 0
      .pure-u.split{id: 'split-' + index.to_s, class: "size-chart-" + colors[(index) % colors.length].to_s, style: "width: #{split.duration / @run.time * 100}%;"}
        .title= split.name
        .time= render partial: 'shared/time', locals: {run: @run, time: split.duration}
.timeline.l-vbox.pure-g{style: "margin-bottom: 1em;"}
  - @run.splits.each_with_index do |split, index|
    - unless split.duration == 0
      .pure-u.inspect{id: 'inspect-' + index.to_s, style: "width: #{split.duration / @run.time * 100}%; opacity: 0;"}
        .bar
          %p
        .title= split.name
        .time= render partial: 'shared/time', locals: {run: @run, time: split.duration}
.container
  %table
    %thead
      %tr
        %th.align-right #
        %th Name
        %th.align-right Duration
        %th.align-right Finished at
    %tbody
      - @run.splits.each_with_index do |split, index|
        %tr
          %td.align-right
            = index + 1
          %td
            = split.name
          %td.align-right
            - unless split.duration == 0
              = render partial: 'shared/time', locals: {run: @run, time: split.duration}
            - else
              \-
          %td.align-right
            - unless split.duration == 0
              = render partial: 'shared/time', locals: {run: @run, time: split.finish_time}
            - else
              \-
