- title @run.name
= render partial: 'twitter_card'

.container
  %h2= yield(:title)
  %h5= render partial: 'shared/time', locals: {time: @run.time, show_milliseconds: @run.short?}
  - if @run.user.present?
    %h6
      %a#twitch-channel{href: "http://twitch.tv/#{@run.user.name}", target: :_blank}= "twitch.tv/#{@run.user.name}"
  = render partial: 'shared/alerts'
  %h6
    %span#download-menu
      %a{href: download_path(@run, @run.program), onclick: 'hide_download_menu()'}= @run.program
      - ([:wsplit, :timesplittracker, :splitterz, :livesplit] - [@run.program]).each do |program|
        &bull;
        %a{href: download_path(@run, program), onclick: 'hide_download_menu()'}= program
    .glyphicon.glyphicon-download-alt
    %a.fake-link#download-link{onclick: 'toggle_download_menu()'} download
  - if @random.present?
    %h6
      %a{href: random_path} Another random?

= render partial: 'shared/timeline', locals: {run: @run}
= render partial: 'shared/timeline_inspector', locals: {run: @run}

= render partial: 'shared/split_table', locals: {splits: @run.splits, comparison_splits: @run.splits}
