- title(rand(100) == 0 ? @run.name.gsub("Star Fox Adventures", "Stair Fax Temperatures") : @run.name)
= render partial: 'twitter_card'

.container
  %h2= yield(:title)
  %h5= render partial: 'shared/time', locals: {time: @run.time, show_milliseconds: @run.short?}
  - if @run.user
    %h6
      %a#twitch-channel{href: @run.user.uri, target: :_blank}= @run.user.uri.to_s.gsub('http://www.', '')
  = render partial: 'shared/alerts'
  %h6
    %span#download-menu
      %a{href: download_path(@run, @run.program), onclick: 'hide_download_menu()'}= @run.program
      - ([:wsplit, :timesplittracker, :splitterz, :livesplit] - [@run.program]).each do |program|
        &bull;
        %a{href: download_path(@run, program), onclick: 'hide_download_menu()'}= program
    %a.fake-link#download-link{onclick: 'toggle_download_menu()'} ↓ download
    - if !@run.belongs_to?(current_user) && current_user.try(:runs?, @run.category)
      |
      %a{href: compare_path(@run, current_user.pb_for(@run.category))} compare to my pb
    - if @run.best_known?
      | ✓ best on record
    - elsif @run.pb?
      - if @run.belongs_to?(current_user)
        |
        %a{href: compare_path(@run, @run.category.best_known_run)} compare to best on record
      | ✓ pb

= render partial: 'shared/timeline', locals: {run: @run}
= render partial: 'shared/timeline_inspector', locals: {run: @run}

.container
  - cache [:splits, :v1, @run] do
    = render partial: 'shared/split_table', locals: {splits: @run.splits, comparison_splits: @run.splits}
