.header{style: 'border: none;'}
  - if @run.hits < 2
    #permalink-indicator
      &uarr; That's your permalink!
  %h2
    #{@run.name}
    - if @run.user.present?
      %br
      %small= @run.user.name
- colors = [:blue, :purple, :green, :red, :orange, :yellow]
- c = 0
- percentage = 0
#time{style: 'opacity: 0;'}
  &nbsp;
  = Time.at(@run.time).utc.strftime("%k:%M:%S")
  - if @run.time < 20*60
    %small>= Time.at(@run.time).utc.strftime(".%2N")
  &nbsp;
- i = 1
.timeline.l-vbox.pure-g{style: "margin-bottom: 1em;"}
  - percentage = @run.splits.sum(&:duration) / @run.time
  - @run.splits.each do |split|
    - unless split.duration == 0
      .pure-u.split{id: 'split-' + i.to_s, class: "size-chart-" + colors[c].to_s, style: "width: #{split.duration / @run.time * 100}%;"}
        .title= split.name
        .time
          = Time.at(split.duration).utc.strftime("%k:%M:%S")
          - if @run.time < 20*60
            %small>= Time.at(split.duration).utc.strftime(".%2N")
      - c = (c + 1) % colors.length
    - i += 1
- i = 1
- percentage_so_far = 0
.timeline.l-vbox.pure-g{style: "margin-bottom: 1em;"}
  - @run.splits.each do |split|
    - unless split.duration == 0
      .pure-u.inspect{id: 'inspect-' + i.to_s, style: "width: #{split.duration / @run.time * 100}%; opacity: 0;"}
        .bar
          %p
        .title= split.name
        .time
          = Time.at(split.duration).utc.strftime("%k:%M:%S")
          - if @run.time < 20*60
            %small>= Time.at(split.duration).utc.strftime(".%2N")
    - i += 1
    - percentage_so_far += split.duration/@run.time + (1 - percentage/100)/@run.splits.length
.content
  %table.pure-table{style: "margin: auto;"}
    %thead
      %tr
        %th #
        %th Name
        %th Duration
        %th Finished at
    %tbody
      - i = 0
      - @run.splits.each do |split|
        %tr
          %td.align-right
            = i +=1
          %td
            = split.name
          %td.align-right
            - unless split.duration == 0
              = Time.at(split.duration).utc.strftime("%k:%M:%S")
              - if @run.time < 20*60
                %small>= Time.at(split.duration).utc.strftime(".%2N")
            - else
              \-
          %td.align-right
            - unless split.duration == 0
              = Time.at(split.finish_time).utc.strftime("%k:%M:%S")
              - if @run.time < 20*60
                %small>= Time.at(split.finish_time).utc.strftime(".%2N")
            - else
              \-
- if @run.hits < 2
  :javascript
    window.onload = function() {$('#permalink-indicator').fadeIn().delay(4000).fadeOut(); }
