= render partial: 'twitter_card'

- if @run.new?
  #permalink-indicator
    &uarr; That's your permalink!
  :coffee
    window.onload = -> $('#permalink-indicator').fadeIn().delay(4000).fadeOut({ complete: -> $(this).remove()});
.container
  %h2
    #{@run.name}
  %h5= render partial: 'shared/time', locals: {run: @run, time: @run.time}
  - if @run.user.present?
    %h6
      %a.twitch{href: "http://twitch.tv/#{@run.user.name}", target: :_blank}= "twitch.tv/#{@run.user.name}"
  %h6
    %span#download-menu
      %a{href: download_path(@run.nick, @run.program), onclick: 'hide_download_menu()'}= @run.program
      - ([:wsplit, :timesplittracker, :splitterz, :livesplit] - [@run.program]).each do |program|
        &bull;
        %a{href: download_path(@run.nick, program), onclick: 'hide_download_menu()'}= program
    .glyphicon.glyphicon-download-alt
    %a.fake-link#download-link{onclick: 'toggle_download_menu()'}
      download
  - if @random.present?
    %h6
      %a{href: random_path}
        Another random?
= render partial: 'shared/timeline', locals: {run: @run}
.container
  %table
    %thead
      %tr
        %th.align-right #
        %th Name
        %th.align-right Duration
        %th.align-right Finished at
    %tbody
      - @run.splits.each_with_index do |split, index|
        %tr
          %td.align-right
            = index + 1
          %td
            = split.name
          %td.align-right
            = render partial: 'shared/time', locals: {run: @run, time: split.duration}
          %td.align-right
            = render partial: 'shared/time', locals: {run: @run, time: split.finish_time}
