#main
  .header
    %h2 anonymous / #{@run.title}
  .content
    %table.pure-table{style: "margin: auto;"}
      %thead
        %tr
          %th #
          %th Title
          %th Duration
          %th Finished at
      %tbody
        - i = 0
        - @run.splits_lines.splits_line.each do |s|
          %tr
            %td
              = i +=1
            %td
              = s.split_title
            %td
              = s.bestrun_time
            %td
              = s.bestsplit_time
