!!!
%html
  %head
    %title Splits I/O
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: :all
    = csrf_meta_tag
    = content_for(:head)
  %body
    #dropzone
      #dropzone-overlay.header{style: 'border: none;'}
        %h1#droplabel.inverted drop anywhere
        #file-list.inverted
      - color = [:blue, :purple, :green, :red, :orange].sample(1).first
      %nav
        %a.logo.blue{href: root_path} splits i/o
        %a.nav.purple{href: upload_path} upload
        %a.nav.green{href: search_path} search
        %a.nav.red{href: faq_path} faq
        - if user_signed_in?
          %a.nav.orange{href: signout_path} sign out
        - else
          %a.nav.orange{href: twitch_out_path, onclick: 'document.cookie="return_to="+window.location.pathname;'} sign in
      = yield
  = javascript_include_tag 'application'
  - if Rails.env.production?
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-2876079-8', 'splits-io');
      ga('send', 'pageview');
