!!!
%html
  %head
    %title
      splits.io:
      = content_for(:title) || "splits i/o"
    %link{href: '//fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: :all
    = csrf_meta_tag
    = content_for(:head)
    = include_gon
  %body
    #dropzone
      #dropzone-overlay.header{style: 'border: none;'}
        %h1#droplabel.inverted drop anywhere
      %nav
        - page = {upload: request.path == new_run_path, search: request.path.match(search_path), faq: request.path == faq_path}
        %a.blue{href: root_path, class: page.values.all? { |p| !p } ? 'logo' : ''} splits i/o
        %a.purple{href: new_run_path, class: page[:upload] ? 'logo' : ''} upload
        %a.green{href: search_path, class: page[:search] ? 'logo' : ''} search
        %a.red{href: faq_path, class: page[:faq] ? 'logo' : ''} faq
        - if user_signed_in?
          %a#sign-out.orange{href: signout_path} sign out
        - else
          %a#sign-in.orange{href: twitch_out_path, onclick: 'document.cookie="return_to="+window.location.pathname;'} sign in
      = yield
  = javascript_include_tag 'application'
