!!!
%html
  %head
    %title splits.io
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag "application", media: :all
    = csrf_meta_tag
  %body
    #dropzone
      #dropzone-overlay.header{style: "border: none;"}
        %h1#droplabel.inverted drop anywhere
        #file-list.inverted
      %a{href: root_path}
        #logo
          splits.io
      #split-inspector
      - if alert
        .alert
          = alert
      - elsif notice
        .notice
          = notice
      - elsif @random
        #random
          %a.pure-button.pure-button{href: random_path, style: "font-size: 70%; border-radius: 0 0 2px 2px;"}
            Another random?
      = yield
      %footer#footer
        %a{href: upload_path} upload
        &bull;
        - if @run_record.present?
          %a.fake-link{onclick: "show_download_menu()"} download
          &bull;
        %a{href: "mailto:qhiiyr@gmail.com"} feedback
        &bull;
        %a{href: "https://github.com/glacials/splits.io", target: :_blank} github
      - if @run_record.present?
        %footer#download-menu
          %div{style: "text-align: left;"}
            What format?
          %a{href: download_run_path(@run_record.nick, :wsplit), onclick: "hide_download_menu()"} WSplit
          &bull;
          %a{href: download_run_path(@run_record.nick, :timesplittracker), onclick: "hide_download_menu()"} Time Split Tracker
          &bull;
          %a{href: download_run_path(@run_record.nick, :splitterz), onclick: "hide_download_menu()"} SplitterZ
  = javascript_include_tag "application"
  - if Rails.env.production?
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-2876079-8', 'splits.io');
      ga('send', 'pageview');
