!!!
%html
  %head
    %title
      splits.io:
      = yield(:title) || "a website"
    %link{href: '//fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: :all
    = csrf_meta_tag
    = render partial: 'shared/favicons'
    = content_for(:head)
  %body
    = include_gon
    #dropzone
      #dropzone-overlay.header{style: 'border: none;'}
        %h1#droplabel.inverted drop anywhere
        #multiupload{style: 'display: none;'}
          %h2
            successes:
            %span#successful-uploads
          %h2
            failures:
            %span#failed-uploads
      %header
        %nav
          - page = {upload: request.path == new_run_path, games: request.path.match(games_path), faq: request.path == faq_path, profile: logged_in? && request.path == user_path(current_user)}
          %a.blue{href: root_path, class: page.values.all? { |p| !p } ? 'logo' : ''} splits i/o
          %a.purple{href: new_run_path, class: page[:upload] ? 'logo' : ''} upload
          %a.green{href: games_path, class: page[:games] ? 'logo' : ''} games
          %a.red{href: faq_path, class: page[:faq] ? 'logo' : ''} faq
          - if logged_in?
            .dropdown{href: "#"}
              %a.orange.dropdown-toggle.fake-link{id: :user_nav, data: {toggle: :dropdown}, class: page[:profile] ? 'logo' : ''}
                %small ∨
                #{current_user.name}
              %ul.dropdown-menu{role: :menu, aria: {labelledby: :user_nav}}
                %li{role: :presentation}
                  = link_to "profile", user_path(current_user)
                  = link_to "tools", tools_path
                  = link_to "sign out", session_path(auth_session), method: :delete
          - else
            %a#sign-in.orange{href: '/auth/twitch', onclick: 'document.cookie="return_to="+window.location.pathname;'} sign in
        = yield(:header)
        = render partial: 'shared/alerts'
      = yield
      %footer
        &nbsp;
        = yield(:footer)
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-2876079-8', 'auto');
  ga('send', 'pageview');
