!!!
%html
  %head
    %title
      splits.io:
      = content_for(:title) || "splits i/o"
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: :all
    = csrf_meta_tag
    = content_for(:head)
    = include_gon
  %body
    #dropzone
      #dropzone-overlay.header{style: 'border: none;'}
        %h1#droplabel.inverted drop anywhere
        #file-list.inverted
      %nav
        %a.logo.blue{href: root_path} splits i/o
        %a.purple{href: upload_path} upload
        %a.green{href: search_path} search
        %a.red{href: faq_path} faq
        - if user_signed_in?
          %a#sign-out.orange{href: signout_path} sign out
        - else
          %a#sign-in.orange{href: twitch_out_path, onclick: 'document.cookie="return_to="+window.location.pathname;'} sign in
      = yield
  = javascript_include_tag 'application'
